.mailjet_widget_form_builder_container {
    width: 100%;
}

/*
     FILE ARCHIVED ON 13:37:03 Jun 03, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:50:32 Dec 31, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.806
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.075
  esindex: 0.011
  cdx.remote: 24.603
  LoadShardBlock: 107.36 (3)
  PetaboxLoader3.resolve: 80.535 (3)
  PetaboxLoader3.datanode: 73.134 (4)
  load_resource: 77.218
*/